@use "sass:map";

@use "Shared/scss/templates/base/utils/unit-conversion" as convert;
@forward "Shared/scss/templates/base/config/units";

$list: (
    section-max: convert.to-rem(1200, $media: true),
    navbar: convert.to-rem(1200, $media: true),
    document-mobile-portrait: convert.to-rem(640, $media: true)
);

@function get($name) {
    @return map.get($list, $name);
}

@function set($pixel) {
    @return convert.to-rem($pixel, $media: true);
}

@mixin scope {
    --header-offset-amount: 4rem;
}
